{
  "env": {
    "browser": true,
    "node": true,
    "amd": true
  },
  "Globals": {
    "Fiber": true,
    "Backbone": true,
    "_": true,
    "$": true,
    "val": true
  },
  "rules": {

  }
}
